 .judul {
                border-radius: 100px;
                height: 270px;
                width: 290px;
                margin-left: 245px;

            }
            .judulh1 {
                text-align: center;
                font-family: courier;
                color: white;
            }
            .paragraf {
                text-align: center;
                color: white;
            }
            body {
                background-color: rgb(5, 4, 30);
            }
            .polet {
                color: black;
                background: linear-gradient(blue, black )
            }
            .figcapion { 
                color: white ; 
                font-family: courier;
            }
            .judulp {
                font-family: helvetica;
                color:white ;
            }